{% extends './base.html' %}

{% block title %}Sign up | Payfilt{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
{% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<div class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <img class="mb-4" src="{{url_for('static', filename='img/payfilt.png')}}" alt="" width="100%">
                        <h3 class="h3 mb-4 fw-normal text-center">Recupera tu cuenta</h3>
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <div class="form-floating" style="color:black">                                 
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control") }}
                                    {% endif %}
                                    {{ form.email.label(class="form-control-label", for="email") }}
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="d-grid col mt-1 pt-2" style="text-align: center">
                                    {{ form.submit(class="btn btn-info") }}
                                </div>
                                <div class="d-grid col mt-1 pt-2" style="text-align: center">
                                    <a class="btn btn-secondary btn-lg" type="button" href="{{url_for('index')}}">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block customJS %}

<script src="{{url_for('static', filename='js/signup.js')}}"></script>

{% endblock %}